/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* CSS AFTER THE KILL
*/
html {
  background-color: #2C3E50; }

body {
  width: 640px;
  margin: 10px auto; }

footer {
  color: #ECF0F1; }
  footer h1 {
    font-family: "Helvetica", sans serif;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: lowercase;
    display: inline; }
  footer h2 {
    font-family: "Helvetica", sans serif;
    font-size: 0.75em;
    display: inline; }
  footer nav {
    display: inline; }
    footer nav ul {
      display: inline;
      list-style: none;
      font-size: 0.75em; }
    footer nav li {
      display: inline;
      margin: 0px 0px 0px 10px;
      padding: 10px;
      background-color: #2C3E50; }
    footer nav a {
      color: white;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1em;
      font-weight: none; }

h1 {
  color: #ECF0F1;
  font-family: "Helvetica", sans serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase; }

header h2 {
  color: #ECF0F1;
  font-size: 1em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 20px 0px 0px 0px; }

img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  width: 610px;
  padding: 15px; }

p {
  padding: 10px 15px 10px 15px; }

a {
  color: #2C3E50;
  font-family: "Helvetica", sans serif;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none; }

nav {
  padding: 40px 0px 40px 0px; }
  nav ul {
    list-style: none;
    font-size: 1.5em;
    font-family: "Helvetica", sans serif; }
  nav li {
    display: inline;
    margin: 0px 20px 0px 0px;
    padding: 10px;
    background-color: #3498DB;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px; }

section {
  margin: 0px 0px 20px 0px; }
  section h1 {
    color: #E74C3C;
    background-color: #ECF0F1;
    font-size: 3em;
    text-transform: uppercase;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px; }

article {
  margin: 25px 0px 25px 0px;
  padding: 0px 0px 15px 0px;
  background-color: #2980B9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  color: #ECF0F1; }
  article h2 {
    font-family: "Helvetica", sans serif;
    font-weight: bold;
    font-size: 2em;
    padding: 5px 0px 15px 15px; }
  article h3 {
    font-size: 1.5em;
    padding: 0px 0px 0px 15px; }
  article ul {
    list-style: disc;
    font-size: 1em;
    margin: 5px 0px 0px 60px; }
  article li {
    padding: 0px 60px 10px 0px; }

blockquote {
  padding: 15px 40px 15px 40px;
  font-size: 1.5em;
  font-weight: bold; }

ol {
  list-style-type: decimal;
  padding: 5px 5px 5px 50px; }

/*# sourceMappingURL=styles.css.map */
