h1  {
	color:$white;
	font-family:$headerfont; 
	font-size: 4em; 
	font-weight: bold;
	text-transform: uppercase; 		
}

header {
	h2 {color:$white; font-size: 1em; font-family:$bodyfont; padding: 20px 0px 0px 0px;}
}

nav { 
	ul {list-style: none; font-size:1.5em; font-family:$headerfont;}
	li {display: inline; margin: 0px 20px 0px 0px; padding: 10px; background-color:$mid; 	@include border-radius(15px);}
}

article {
	h2 {font-family:$headerfont; font-weight: bold; font-size:2em; padding: 5px 0px 15px 15px;}
	h3 {font-size:1.5em; padding: 0px 0px 0px 15px;}
	ul {list-style: disc; font-size:1em; margin: 5px 0px 0px 60px;}
	li {padding: 0px 60px 10px 0px;}
	
}

footer {
	color:$white;
	
	h1 {font-family:$headerfont; font-weight: bold; font-size: 0.75em; text-transform: lowercase; display: inline;}
	
	h2 {font-family:$headerfont; font-size: 0.75em; display: inline;}
	
	nav {
	display: inline;
	
	ul {display: inline; list-style: none; font-size:0.75em;}
	
	li {display: inline; margin: 0px 0px 0px 10px; padding: 10px; background-color:$dark;}
	
	a {color: white; font-family:$bodyfont; text-transform: lowercase; font-size: 1em;}
	}
	
}

